<div align="center">
  <h1>Rabobank Customer Statement</h1>
</div>
<div align="center">
  <input type="file" class="upload" (change)="changeListener($event.target.files)">
  <button (click)="uploadFile()">Upload</button>
</div>
<div align="center">
    <input [(ngModel)]="minIssueCount" class ="inputText" placeholder="Search text goes here">
</div>
<div align="center">
  <table border="1" *ngIf="csvFileColumnHeaders">
    <tr>
      <th *ngFor= "let csvFileColumnHeader of csvFileColumnHeaders">{{ csvFileColumnHeader }}</th>
    </tr>
    <tr *ngFor= "let customer of customers | issueCountFilter:minIssueCount">
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.surName }}</td>
      <td>{{ customer.issueCount }}</td>
      <td>{{ customer.dateOfBirth }}</td>
    </tr>
  </table>
</div>